html, body {
  height: 100vh;
  width: 100vw;
  cursor: url("./cursor.cur"), auto;
}

.img {
  max-width:50%;
  margin: 0 auto;
  }

  .navbar {
    background-color:transparent;
    border: none;
    position:fixed!important;
    width: 100%;
    z-index: 1
  }

  .navbar-nav{
    width: 100%;
    justify-content: flex-end;
  }

.text{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;

   }

.s-text{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-left: 60px;
  padding-top: 5px;
   }


.image-card{
  height: 300px;
  width: 250px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  background: #e9ecef;
}

.right__text {
    float: right;
}

.heading__text {
  border-bottom:2px solid black;
  padding:2px;
  margin:50px;
  font-size:23px;
}


.inline__para {
  display: inline-block;
  width: 62%;
  vertical-align: middle;
  margin-left: 50px;
}

a {
  color: black!important;
}

a:hover {
  text-decoration: none!important;
  color: blue!important;
  cursor: url("./cursor.cur"), auto;
}


.bottom_text{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  font-size:23px;
  margin: 9% 0 ;
}


.icon{

}

@media only screen and (max-width: 768px) {
  .heading__text {
    display: block;
    margin: 0;
    font-size: 16px;
    border: none;
    text-decoration: underline;
  }

  .right__text {
    float: none;
  }

  .bottom_text{
    display: block;
  }
  .bottom_text > div {
    margin-top:20px;
  }
}
